@using BE_U2_W2_D5.Models.Entities;
@model List<Prenotazione>
<h1>Prenotazioni</h1>



<table class="table mt-4">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Camera</th>
            <th>Data Check-In</th>
            <th>Data Check-Out</th>
            <th>Stato</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Prenotazione prenotazione in Model)
        {
            <tr>
                <td>@prenotazione.Cliente.Nome @prenotazione.Cliente.Cognome
                </td>
                <td>@prenotazione.Camera.Numero</td>
                <td>@prenotazione.DataInizio</td>
                <td>@prenotazione.DataFine</td>
                <td>@prenotazione.Stato</td>
                @if (User.IsInRole("Admin"))
                {                   
                <td>
                    <a asp-action="Update" asp-route-id="@prenotazione.IdPrenotazione" class="btn btn-sm btn-warning">Modifica</a>
                    <form asp-action="Delete" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@prenotazione.IdPrenotazione" />
                        <button type="submit" class="btn btn-sm btn-danger">Elimina</button>
                    </form>
                </td>
                }
            </tr>
        }
    </tbody>
</table>