@model List<BE_U2_W2_D5.Models.Entities.Camera>

@{
}

<h1>Camere</h1>



<table class="table">
    <thead>
        <tr>
            <th>Numero</th>
            <th>Tipo</th>
            <th>Prezzo</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var camera in Model)
        {
            <tr>
                <td>@camera.Numero</td>
                <td>@camera.Tipo</td>
                <td>@camera.Prezzo</td>
                @if (User.IsInRole("Admin"))
                {
                  <td>
                    <a asp-action="Update" asp-route-id="@camera.IdCamera" class="btn btn-sm btn-warning">Modifica</a>
                    <form asp-action="Delete" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@camera.IdCamera" />
                        <button type="submit" class="btn btn-sm btn-danger">Elimina</button>
                    </form>
                </td>
                }

            </tr>
        }
    </tbody>
</table>