@model List<BE_U2_W2_D5.Models.Entities.Cliente>


<h1>Clienti</h1>



<table class="table mt-4">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.Nome</td>
                <td>@cliente.Cognome</td>
                <td>@cliente.Email</td>
                <td>@cliente.Telefono</td>
                @if (User.IsInRole("Admin"))
                {                 
                <td>
                    <a asp-action="Update" asp-route-id="@cliente.IdCliente" class="btn btn-sm btn-warning">Modifica</a>
                    <form asp-action="Delete" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@cliente.IdCliente" />
                        <button type="submit" class="btn btn-sm btn-danger">Elimina</button>
                    </form>
                </td>
                }
            </tr>
        }
    </tbody>
</table>